<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                Create New Product
            </a>
        </div>
    </div>

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Title
                </th>                
                <th>
                    ISBN
                </th>
                <th>
                    Price
                </th>
                <th>
                    Author
                </th>
                <th>
                    Category
                </th>
            </tr>
        </thead>
        
    </table>
</div>

<script>

</script>
@section Scripts
{
    <script>
        var dataTables;
        
        $(document).ready(function () {
            loadDataTable();
        });

        function loadDataTable() {
            dataTables = $('#tblData').DataTable({
                "ajax": {
                    "url": "/Admin/Product/GetAll"
                },
                "columns": [
                    { "data": "title", "width": "15%" },
                    { "data": "isbn", "width": "15%" },
                    { "data": "price", "width": "15%" },
                    { "data": "author", "width": "15%" },
                    { "data": "categoryName", "width": "15%" }

                ]
            });
        }
    </script>
}